/*MOBILE*/
@media only screen and (max-width: 768px){
	body{overflow-x: hidden!important;}
	.vertical-center{padding-top: 13% !important;}
	.padded-col-left{padding-left: 0 !important;}
	.padded-col-left-lg{padding-left: 0 !important;}
	.padded-col-left-sm{padding-left: 0 !important;}
	.padding-universal {padding: 2% 2% !important;}
	.padded-content-right{padding:0 5% !important;}
	.headline-data-story{font-size: 1.3em; font-weight: 900;}
	.sub-headline-data-story {padding-top:10%;font-size: 1.1em !important; font-weight: 300; letter-spacing: .1em !important;}
	#understanding-the-numbers, #city-staffing{padding-top: 15%!important;}
	.headline-numbers{text-align:left !important; font-size: 2em !important;}
	.number-description{text-align: left !important;}
	p.tiny-padding{padding-bottom: 3% !important; margin: 1% 0;}
	.demo-card-square-lg.mdl-card {
	  width: 90% !important;
	  height: 320px !important;
	}
	.demo-card-square-md, .demo-card-square-sm, .demo-card-square-sm {padding-left: 8% !important;}
	/*#about-the-author{width: 95% !important;}*/
	/*#container-1{position: absolute; top:0; left: -12px !important;}*/
}

.light-bttm-border{border-bottom: 2px solid black ;}
.padding-universal {padding: 2% 10%;}
.narrow-col-lg{width: 50%;}
body{
	font-family:'Roboto', arial;
	color: rgb(77,77,77);
}

/*TYPOGRAPHY*/
p{padding:.4em 0; color: rgb(77,77,77); font-size: 1.2em;}
p.small{font-size: 0.9em;}
p.small-2{font-size: 1.1em;}
p.tiny-padding{padding: 1% 0; margin: 1% 0;}
p.author{color: lightgray; font-size: 1em; padding: 1%;}
p.data-story-author{color: gray; font-size: 1.1em; padding: 1%;}
p.data-citation{color: gray; font-size: 1em; padding: 0.5%; } 
.navigation-tip-text {background-color: #F9BF3B!important; padding: 2px;}

ul li{
	font-size: 1.2em;
}

ul.no-bullets{
	list-style: none;
	padding-left: 0;
}

.budgetpedia-logo{
	font-size: 3em;
	font-weight: 300;
}


.page-title{font-size: 3em; font-weight: 300;}
.number-description{font-weight:300; font-size:1.5em; padding-left: 3%;}
.headline{font-size: 2.8em; font-weight: 900;}
.headline-data-story{font-size: 2.5em; font-weight: 900; padding-left: 3%; margin-bottom: 5px;}

.sub-headline-data-story {font-size: 2em; font-weight: 300; letter-spacing: .4em; padding-left: 3%;}


.headline-numbers{color: white;font-size: 2.5em; margin-bottom:2px;}

.heading-color{color: rgb(64,84,178);}
.heading-color>p{font-size: 1.2em;}
.heading_subheading_border{border-left: 5px solid #4054B2; padding: 3px 8px;} /*#4054B2: same as RGB(64,84,178)*/

h1,h2,h3,h4,h5,h6 {margin: 1px 0 !important;}


/*CARDS*/
#surplus-deficit{background: url('../img/city-of-toronto-purple-sq.jpg')  bottom right 15% no-repeat #46B6AC;}
#city-workforce {background: url('../img/toronto-city-hall-purple.jpg')  bottom right 15% no-repeat #46B6AC;}
#data-explorer-card {background: url('../img/data-explorer.jpg')  bottom right 15% no-repeat #46B6AC;}
.mdl-card__title-text {color: white !important;}
.demo-card-square.mdl-card {
  width: 90%;
  height: 400px;
}


#homepage-chart-bg{background: url(../img/bg-img-chart.jpg) bottom right 15% no-repeat #46B6AC;}
#homepage-chart{
	width: 100%;
	height: 300px;
	/* BELOW FOR NON-CARD DESIGNS ONLY*/
	/*background: url(../img/bg-img-chart.jpg) no-repeat center center;*/ 
	/*background-size: cover;*/
}

#bar-chart{
	width: 500px;
}
.demo-card-square-lg.mdl-card{
	width: 500px;
  height: 500px;
} 

#drilldown{
	width: 90%;
	height: 300px;
}

.demo-card-square-sm.mdl-card{
	width: 90%;
  height: 320px;
} 

.demo-card-square-md.mdl-card{
	width: 100%;
  height: 400px;
} 

#col-6-chart{
	width: 80%;
	height: 300px;
}

.img-icon{width:25px; margin-right: 5px;}

#site-header{
	background: url('../img/homepage-hero-img.jpg') no-repeat center center;
	background-size: cover;
	padding-bottom: 2%;
	color: white;
}

#understanding-the-numbers{
	background: url(../img/city-of-toronto-purple.jpg) no-repeat center center;
	background-size: cover;
	padding-top: 10%;
	padding-bottom: 5%;
	color: white !important;
}

#surplus-calculation{
	background: url(../img/toronto-towers-card-purple.jpg) bottom right 15% no-repeat #46B6AC;; 
	color: white !important;
}

#city-staffing{
	background: url(../img/toronto-city-hall-purple.jpg) no-repeat center center;
	background-size: cover;
	padding-top: 10%;
	padding-bottom: 5%;
	color: white !important;
}


#about-header{
	background: #2c3e50;
	height: 40vh;
	color: white;
}

#footer{
	background: rgb(64,84,178); /*#2c3e50*/
	color: white;
}
a.footer-link, a.footer-link:visited{color: white !important;}
.center{text-align: center;}
.right-align{text-align: right;}


.page-title{padding-top: 7%;}

.padded-top{padding-top:5%;}
.padded-top-sm{padding-top:2%;}
.padded-top-md{padding-top:8%;}
.padded-col-left-lg{padding-left: 15%;}
.padded-col-left-sm{padding-left: 3%;}
.padded-col-right{padding-right: 5%;}
.padded-content-h{padding:0 10%;}
.padded-content-h-left{padding:0 0 0 5%;}
.padded-content-left{padding:0 0 0 8px;}
.padded-content-right{padding:0 10% 0 0;}
.padded-bottom-md{padding-bottom: 5%}
.padded-bottom-sm{padding-bottom: 2%}

.marquee-text{font-size: 2.5em; padding-top: 1.3em;}
.marquee-text-lg{font-size: 3em; padding-top: 1.3em;}
.marquee-text-md{font-size: 2.2em; padding-top: 1.3em;}
.marquee-text-sm{font-size: 2em; padding-top: 5px;}
.marquee-text-xs{font-size: 1.8em; padding-top: 1.3em;}

.number-blue{color:rgb(0,174,241);}
.number-red{color:rgb(232,0,126);}


.light-text{color:white;}
.vertical-center{padding-top: 5%;}

a.no-underline{
	color: white !important;
}

a.no-underline:hover{
	color: white !important;
	text-decoration: none !important;
}
#menu{
	color: white;
	position: absolute;
	top: 1%;
	right: 1%;
}

.h-list>li{
	display: inline;
	padding: 8px;
	border-bottom: solid 1px white;

}
.h-list>li:hover{
	background: white;
	color: black;
	transition: 0.3s ease-in;
}

.list-spacing>li{
	padding-bottom: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}



/*.row-border{border-top: 2px solid #D91E53;}*/
.short-border-black:after{
	content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 2px solid black;
}

#about-the-author{
	/*width: 50%;*/
	background: rgb(233,233,233);
	padding: 3% 0;
}

.col-low-padding {
   padding: 0 !important;
   margin: 0 !important;
}
ul.menu-font{font-size: 0.8em;}
li.no-padding-left{padding-left: 0!important;}

.author-name{text-transform: uppercase;}

.menu-btn{color: white !important; font-size: 1.5em; padding: 1%; width: 100%;} /*background: rgba(0,0,0,0.7);*/
#container-1{font-size: 1.5em; position: absolute; top:0; left: -15px; color: white; width:100%; z-index:9999;}
/*#box-1{background: rgba(77,77,77,0.7); padding: 10px 5px;}
#box-2{background: rgba(22, 160, 133,0.7); padding: 10px 5px;} 
#box-3{background: rgba(52, 152, 219, 0.7); padding: 10px 5px;} */

.box-1{background: rgba(64,84,178, 0.8); padding: 10px 5px; width: 75%;}

td{padding-right:10px; padding-bottom: 3px;}

/*TABLESORTER CSS*/
/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 10pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../themes/blue/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../themes/blue/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../themes/blue/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

/*NAVBAR*/
